:root {
	--primaryblue: #050c74;
	--secondaryblue: #3b3fb0;
	--lightblue: #7d83ba;

	--lightgreen: #bfcec5;
	--secondarygreen: #75bf69;
	--primarygreen: #49c446;
}

/* General styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--lightgreen);
}

.mainHeader {
	background-color: var(--primaryblue);
	color: white;
	padding: 1rem;
	text-align: center;
	font-family: "Abril Fatface", serif;
}

.mainNavigation {
	display: flex;
	background-color: var(--secondaryblue);
	justify-content: center;
	gap: 20px;
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
}

.mainNavigation a {
	color: white;
	text-decoration: none;
	padding: 1rem 1rem;
	transition: background-color 0.3s ease;
}

.mainNavigation a:hover {
	background-color: var(--lightblue);
	color: var(--secondarygreen);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	transform: translateY(16px) translateX(-16px);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-size: 1.1rem;
}

.dropdown-content a {
	color: var(--primaryblue);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: var(--lightgreen);
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* JavaScript for click event */
.dropdown-content.show {
	display: block;
}

/* Example content style */
.content {
	/* padding: 2rem; */
	background-color: white;
}
